- content_for :stylesheets do
  = stylesheet_link_tag 'options'
- content_for :javascripts do
  = javascript_include_tag 'options'

%section#options

  %header#logo
    %h1
      %a{href: 'http://giv.rs/', target: :_blank} giv.rs

  %form#settings
    %section#account
      %header
        %h1 Your account
        .description
          If you login, we can synchronise your links, keep statistics and settings. You do this with you API key.
          %a#get_api_key{href: 'http://giv.rs/settings', target: :_blank} Get one here
      #api_key
        %input#auth_token{name: :auth_token, type: :text, placeholder: 'api key', autocomplete: :off}
        %a#log_in{href: '#log_in'} Log in
      #user
        #connected_as
          Connected as:
        #user_name
        %a#log_out{href: '#log_out'} Log out and disconnect API key
    %section#causes_list
      %header
        %h1 Supporting charity
        .description This is the current charity you are supporting. Every link you create, will have this charity as default value.
      #causes
    %section#redirect_types_list
      %header
        %h1 Preferred giv.rs type
        .description You can set a preferred type so that next time you shorten a link, it can be done with a single click.
      #redirect_types
        %article#redirect_frame.redirect_type
          .icon
          %h2 elegant banner
          .description
            show a small awareness booster (in a frame) for a charity of your choice. Example:
            %a{href: 'http://giv.rs/elegant_banner', target: :_blank} giv.rs/elegant_banner
          %input{name: :redirect_type, type: :radio, value: :frame}
        %article#redirect_timer.redirect_type
          .icon
          %h2 4 sec fullscreen
          .description
            before your link loads, show a 4 second fullscreen awareness booster. Example:
            %a{href: 'http://giv.rs/4_sec_fullscreen', target: :_blank} giv.rs/4_sec_fullscreen
          %input{name: :redirect_type, type: :radio, value: :timer}
        %article#redirect_redirect.redirect_type
          .icon
          %h2 clean redirect
          .description
            no awareness booster, clean redirect like any other url shortener. Example:
            %a{href: 'http://giv.rs/clean_redirect', target: :_blank} giv.rs/clean_redirect
          %input{name: :redirect_type, type: :radio, value: :redirect}

    %section#about
      %p
        %a.twitter-follow-button{:'data-show-count' => false, href: 'https://twitter.com/giv_rs'} Follow @giv_rs
      %p Have an idea? Want to give some feedback? Let us know!
      %p
        Developer? Fork this at github:
        %a{href: 'https://github.com/Studentify/giv_rs_chrome_extension'} https://github.com/Studentify/giv_rs_chrome_extension
