- content_for :stylesheets do
  = stylesheet_link_tag 'options'
- content_for :javascripts do
  = javascript_include_tag 'options'

%section#container

  %header#logo
    %h1
      %a{href: 'http://giv.rs/', target: :_blank} giv.rs

  %form#settings
    %section#redirect_types
      %header
        %p Type of redirect you want to use:
      #redirect_types_list
        %a#redirect_frame.redirect_type{href: '#redirect_frame'}
          .input
            %input{type: :radio, name: :redirect_type, value: :frame}
            %label{title: 'elegant banner'} elegant banner
          %p.explanation show a small awareness booster (in a frame) for a charity of your choice.
        %a#redirect_timer.redirect_type{href: '#redirect_timer'}
          .input
            %input{type: :radio, name: :redirect_type, value: :timer}
            %label{title: '2 seconds full screen'} 2 seconds full screen
          %p.explanation before your link loads, show a 2 second fullscreen awareness booster.
        %a#redirect_redirect.redirect_type{href: '#redirect_redirect'}
          .input
            %input{type: :radio, name: :redirect_type, value: :redirect}
            %label{title: 'clean redirect'} clean redirect
          %p.explanation no awareness booster, clean redirect like any other url shortener.
    %section#causes
      %header
        %p Charity you support:
      #cause_list_wrapper
        #cause_autocomplete_wrapper
          %input#cause_autocomplete{type: :text}
        #cause_list
    %section#about
      %p Have an idea? Want to give some feedback? Let us know!
      %p
        Developer? Fork this at github:
        %a{href: 'https://github.com/Studentify/giv_rs_chrome_extension'} https://github.com/Studentify/giv_rs_chrome_extension