- content_for :stylesheets do
  = stylesheet_link_tag 'popup'
- content_for :javascripts do
  = javascript_include_tag 'jquery.qrcode.min'
  = javascript_include_tag 'popup'

%a#short_url{href: '#', target: :_blank}
  Loading...

#actions
  %a#copy{href: '#copy'} copy
  %a#statistics{href: '#', target: :_blank} statistics
  %a#qr_code{href: '#qr_code'} qr-code
  %a#twitter{href: '#', target: :_blank} tweet on Twitter
  %a#facebook{href: '#', target: :_blank} share on Facebook

#settings_actions
  %a#settings{href: '#settings'} settings

#short_url_qr_code
